:host {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 90px;

  .card-container {
   margin-top: 20px; 
  }

  .load-more-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  span.set-desc {
    font-size: 15px;
  }

  mtg-dash-single-card.selected {
    border: 1px solid orange;
  }

  mtg-dash-single-card {
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
  }
  // mat-toolbar.mat-toolbar.fixed {
  //   position: fixed;
  //   z-index: 9999;
  //   top: 0px;
  //   left: 0px;
  // }
}