<ng-container *ngIf="(cards$ | async) as cards else loading">
  <mat-toolbar>
    <mat-toolbar-row>
      <h1>
        <button mat-icon-button routerLink="/home">
          <mat-icon>arrow_back</mat-icon>
        </button> 
        &nbsp; 
        {{ cards?.setData.name }}
      </h1>
      <span fxFlex></span>
      <mtg-dash-filter [sortOptions]="sortOptions" (onSearchChange)="query = $event"></mtg-dash-filter>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="selectedCards.length === 0" [@fadeInAnimation]>
      <span class="set-desc"><small>Type: {{ cards?.setData.type }}</small></span>
      <span fxFlex></span>
      <span class="set-desc"><small>Released: {{ cards?.setData.releaseDate }}</small></span>
      <span fxFlex></span>
      <span class="set-desc"><small>Block/Code: {{ cards?.setData.block ? cards?.setData.block : cards?.setData.code }}</small></span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="selectedCards.length > 0" [@fadeInAnimation]>
      <span>{{selectedCards.length}} card{{selectedCards.length > 1 ? 's' : ''}} selected</span>
      <span fxFlex></span>
      <button mat-icon-button matTooltip="Add to deck" [matMenuTriggerFor]="deckMenu">
        <mat-icon [matBadge]="selectedCards.length">
          create_new_folder
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="card-container" 
    fxLayout="row wrap" 
    fxLayoutGap="10px">
    <mtg-dash-single-card 
      *ngFor="let card of cards?.cardData | serchPipe: query;"
      (click)="addToSelectedCards(card);isSelected = !isSelected"
      [class.selected]="isSelected" 
      [card]="card" 
      fxFlex="32.5%">
    </mtg-dash-single-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="load-more-container">
    <spinner-button [options]="btnOpts" (click)="loadMore()"></spinner-button>
  </div>
</ng-container>

<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner diameter="45" strokeWidth="3"></mat-spinner>
  </div>
</ng-template>

<mat-menu #deckMenu="matMenu">
  <ng-container *ngIf="(decks$ | async) as decks else noDecks">
    <button mat-menu-item disableRipple (click)="createDeck()">
      <mat-icon>create</mat-icon>
      <span>Create New</span>
    </button>
    <mat-divider></mat-divider>
    <button 
      mat-menu-item 
      disableRipple    
      *ngFor="let deck of decks"
      (click)="addSelectedCardsToDeck(deck.id)">
      <mat-icon>folder</mat-icon>
      {{ deck.name }}
    </button>
  </ng-container>
  <ng-template #noDecks>
    <button mat-menu-item disableRipple>
      <mat-icon>create</mat-icon>
      <span>Create New</span>
    </button>
  </ng-template>
</mat-menu>