.sidenav {
  width: 250px;
  box-shadow: none!important;
  margin-top: 64px;
}

.content {
  min-height: calc(100vh - 64px);
  height: 100vh;
}

.cdk-drop {
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;

  .horizontal & {
    display: flex;
    flex-direction: row;
  }
}

.cdk-drag {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  .cdk-drop-dragging &:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .horizontal & {
    border: none;
    border-right: solid 1px #ccc;
    flex-grow: 1;
    flex-basis: 0;

    [dir='rtl'] & {
      border-right: none;
      border-left: solid 1px #ccc;
    }
  }

  .cdk-drop &:last-child {
    border: none;
  }
}

.sidebar-deck {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}