<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav 
    #sidenav 
    mode="over"
    opened="false" 
    class="sidenav">

    <mat-nav-list class="nav-list">
      <mat-list-item  routerLink="home" (click)="sidenav.close()">
        <mat-icon matListIcon>home</mat-icon>
        <a [style.outline]="'none'" matLine>Home</a>
      </mat-list-item>

      <mat-list-item  routerLink="account" (click)="sidenav.close()">
        <mat-icon matListIcon>person</mat-icon>
        <a [style.outline]="'none'" matLine>My Account</a>
      </mat-list-item>      
      
      <mat-list-item routerLink="login" (click)="sidenav.close()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <a [style.outline]="'none'" matLine>Logout</a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-slide-toggle
          #themeToggle
          labelPosition="before"
          [checked]="theme.isDarkTheme"
          color="primary"
          (change)="theme.changeTheme()">
          Night Mode
        </mat-slide-toggle>
      </mat-list-item>
    </mat-nav-list>
    
    <!-- <ng-container *ngIf="(decks$ | async) as decks">
      <cdk-drop
        *ngFor="let deck of (decks$ | async)" 
        #parent
        [connectedTo]="connectedChild"
        (dropped)="drop($event)">
          <div class="sidebar-deck">
            {{ deck.name }}
          </div>
      </cdk-drop>
    </ng-container> -->
    <!-- <cdk-drop
      #parent
      [connectedTo]="connectedChild"
      (dropped)="drop($event)">
      <div class="sidebar-deck">
        deck.name
    </div>
    </cdk-drop> -->

  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>