<mat-menu #deckMenu="matMenu">
  <ng-container *ngIf="(decks$ | async) as decks else noDecks">
    <button mat-menu-item disableRipple (click)="create()">
      <mat-icon>create</mat-icon>
      <span>Create New</span>
    </button>
    <mat-divider></mat-divider>
    <button 
      mat-menu-item 
      disableRipple    
      *ngFor="let deck of decks"
      (click)="add(deck.id)">
      <mat-icon>folder</mat-icon>
      {{ deck.name }}
    </button>
  </ng-container>
  <ng-template #noDecks>
    <button mat-menu-item disableRipple>
      <mat-icon>create</mat-icon>
      <span>Create New</span>
    </button>
  </ng-template>
</mat-menu>