<ng-container *ngIf="(deck$ | async) as deck else loading">
  <mat-toolbar>
    <button mat-icon-button routerLink="/account/decks">
      <mat-icon>arrow_back</mat-icon>
    </button> 
    &nbsp;
    <span> {{ deckName }} </span>
  </mat-toolbar>
  <div
    class="card-container" 
    fxLayout="row wrap" 
    fxLayoutGap="10px">  
    <mtg-dash-single-card 
      *ngFor="let card of deck"
      [card]="card" 
      fxFlex="31.6%">
    </mtg-dash-single-card>
  </div>  
</ng-container>

<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner diameter="45" strokeWidth="3"></mat-spinner>
  </div>
</ng-template>