<mat-card 
  [class.mat-elevation-z7]="isActive" 
  (mouseover)="isActive = true" 
  (mouseout)="isActive = false">

  <mat-nav-list disableRipple>
    <mat-list-item>
      <img matListAvatar *ngIf="!imgLoaded" class="card-img" [src]="'assets/placeholder.png'" />
      <img matListAvatar [hidden]="!imgLoaded" (load)="imgLoaded = true" class="card-img" [src]="card.imageUrl" />
      <a class="title" matLine [routerLink]="['explore', card?.id]" href="#">{{ card?.name }}</a>
      <button mat-icon-button [matMenuTriggerFor]="cardMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <p matLine>
        <span>
          <i *ngIf="card?.rarity" [matTooltip]="card?.rarity" class="ss ss-ons ss-{{card?.rarity.toLowerCase()}}"></i>&nbsp;
          <i *ngFor="let color of card?.colorIdentity" class="ms ms-{{ color.toLowerCase() || 'c' }}"></i>&nbsp;
          <i *ngIf="card?.type" [matTooltip]="card?.type" class="ms ms-{{ card?.type.split('—')[0].replace('Legendary', '').trim().toLowerCase() }}"></i>
        </span>
        <br>
        <span class="demo-2"> <small [innerHTML]="card?.text | cardDescription"></small> </span>
      </p>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<mat-menu #cardMenu="matMenu">
  <button mat-menu-item disableRipple [matMenuTriggerFor]="deckMenu">
    <mat-icon>create_new_folder</mat-icon>
    <span>Add To Deck</span>
  </button>
  <button mat-menu-item disableRipple>
    <mat-icon>share</mat-icon>
    <span>Share This Card</span>
  </button>
</mat-menu>

<mat-menu #deckMenu="matMenu">
  <ng-container *ngIf="(userDoc$ | async) as userDetails else noDecks">
    <button mat-menu-item disableRipple>
      <mat-icon>create</mat-icon>
      <span>Create New</span>
    </button>
    <mat-divider></mat-divider>
    <button 
      mat-menu-item 
      disableRipple    
      *ngFor="let deck of userDetails"
      (click)="addToDeck(deck.id, card)">
      <mat-icon>folder</mat-icon>
      {{ deck.name }}
    </button>
  </ng-container>
  <ng-template #noDecks>
    <button mat-menu-item disableRipple>
      <mat-icon>create</mat-icon>
      <span>Create New</span>
    </button>
  </ng-template>
</mat-menu>