@import "./../../../../assets/styles/variables";
@import "./../../../../assets/styles/shared";

:host {
  margin-bottom: 75px;
  display: block;

  .header-image {
    margin-bottom: 35px;
    margin-top: 64px;
    min-height: 450px;
    background-repeat: no-repeat!important;
    background-size: 100%!important;
    background-position: center top!important;

    &__overlay {
      @extend .overlay;
    }

    &__user-buttons {
      mat-icon {
        margin-right: 4px;
        font-size: 125%;
        position: relative;
        top: 3px;
      }

    }
  }

  .grid-container {
    width: $containerMaxWidth;
    margin: 0 auto;

    &__top-grid {
      padding: 5px;
      mat-card {
        > div {
          @extend .overlay;
        }

        &:hover {
          box-shadow: $boxShadow-hover;
        }

        &:not(&:nth-child(1)) {
          min-height: 150px;
          background-size: cover!important;
          cursor: pointer;
        }
      }
  
      &:nth-child(1) {
        height: 340px;
        background-size: cover;
        cursor: pointer;
      }
    }

  }

  .card-carousel {
    margin-top: 20px;

    &__card {
      text-align: center;
      margin-right: 5px;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 5px;
      padding: 20px;
      min-height: 200px;
      cursor: pointer;
      background-repeat: no-repeat!important;
      background-size: cover!important;
      transition: all .3s ease-in-out;

      > p {
        margin-bottom: 0px;
        margin-top: 10px;
      }

      &:hover {
        box-shadow: $boxShadow-hover;
      }

      &--with-overlay {
        min-height: 350px!important;
        &:hover {
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
        }
        
        .slider-card-overlay {
          @extend .overlay;
          background: rgba(0, 0, 0, 0.6);
          transition: opacity .3s ease-in-out;
          border-radius: 12px;
          &:hover {
            background: rgba(0, 0, 0, 0.078);
            opacity: 0;
          }
        }
      }

      &--with-actions {
        min-height: 234px!important;
        mat-card-actions {
          position: absolute;
          width: 100%;
          bottom: 25px;
          right: 30px;
        }      
      }
    }

    &__rightRs, &__leftRs {
      top: -32px;
      position: absolute;
      transition: opacity .3s;
    }
  
    &__leftRs {
      right: 35px;
    }
  
    &__rightRs {
      right: 0;
    }
  }
}
