<mat-card class="header-image" [ngStyle]="{'background-image': 'url(../assets/w4p8Zg1.jpg)'}">
  <div class="overlay" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <h1>Welcome to MTGdash</h1>
    <span>Cards | Sets | Decks | News</span>
    <div fxLayout="row" fxLayoutGap="10px" class="user-buttons">
      <button mat-stroked-button color="primary" [routerLink]="['/login']">
        <mat-icon>input</mat-icon>
        LOGIN
      </button>
      <button mat-stroked-button color="accent" [routerLink]="['/login']">
        <mat-icon>person_add</mat-icon>
        SIGN UP
      </button>
    </div>
  </div>
</mat-card>

<div class="grid-container" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center stretch">

  <!-- <mat-toolbar>
    <h1>Dashboard</h1>
    <span fxFlex></span>
    <mtg-dash-filter 
      [sortOptions]="sortOptions" 
      (onFilterChange)="fetchSets($event)" 
      (onSearchChange)="query = $event">
    </mtg-dash-filter>
  </mat-toolbar> -->

  <div class="top-grid" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
    <mat-card class="first-grid-card" fxFlex="40%" style="background: url(../assets/7GEb8Qx.jpg)">
      <div class="overlay" fxLayout="row" fxLayoutAlign="center center">
        <h2>Cards</h2>
      </div>
    </mat-card>
    <div fxFlex="60%" fxLayout="column" fxLayoutGap="10px">
      <mat-card fxFlex="100%" style="background: url(../assets/iHshfmx.jpg)">
        <div class="overlay" fxLayout="row" fxLayoutAlign="center center">
          <h2>Sets</h2>
        </div>
      </mat-card>
      <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px">
        <mat-card fxFlex="50%" style="background: url(../assets/rHBrR2T.jpg)">
          <div class="overlay" fxLayout="row" fxLayoutAlign="center center">
            <h2>Decks</h2>
          </div>
        </mat-card>
        <mat-card fxFlex="50%" style="background: url(../assets/VcwwHAc.jpg)">
          <div class="overlay" fxLayout="row" fxLayoutAlign="center center">
            <h2>Account</h2>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <ng-container *ngIf="(sets$ | async) as sets else loading">
    <mat-toolbar>
      <h1>Sets</h1>
      <span fxFlex></span>
      <button mat-button color="primary">View More</button>
    </mat-toolbar>

    <ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
      <ngu-item NguCarouselItem *ngFor="let set of sets?.data.setData | slice:0:20">
        <mat-card 
          class="slider-card"
          fxLayout="column" 
          fxLayoutAlign="center center" 
          [routerLink]="['explore', set?.code.toLowerCase()]">
            <p><i class="ss ss-5x ss-{{ set?.code.toLowerCase() }}"></i></p>
            <p>{{ set?.name }}</p>
        </mat-card>
      </ngu-item>
      <button mat-icon-button NguCarouselPrev class='leftRs'>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button NguCarouselNext class='rightRs'>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </ngu-carousel>
  </ng-container>

  <ng-container *ngIf="(latestSetCards$ | async) as cards">
    <mat-toolbar>
      <h1>Latest Set Release</h1>
      <span fxFlex></span>
      <button mat-button color="primary">View More</button>
    </mat-toolbar>

    <ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
      <ngu-item NguCarouselItem *ngFor="let card of cards?.data.cardsBySet.cardData">
        <mat-card 
          [ngStyle]="{'background-image': 'url('+card.imageUrl+')'}"
          class="slider-card single-card"
          fxLayout="column" 
          fxLayoutAlign="center center">
            <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
              <p><i class="ss ss-5x ss-{{ card?.set.toLowerCase() }}"></i></p>
              <h4>{{ card.name }}</h4>
              <mat-divider></mat-divider>
              <!-- <span class="demo-2"> <small [innerHTML]="card?.text | slice:0:50 | cardDescription"></small> </span> -->
            </div>
        </mat-card>
      </ngu-item>
      <button mat-icon-button NguCarouselPrev class='leftRs'>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button NguCarouselNext class='rightRs'>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </ngu-carousel>

  </ng-container>


  <ng-container *ngIf="(newsFeed$ | async) as news">

    <mat-toolbar>
      <h1>Magic: The Gathering News</h1>
      <span fxFlex></span>
      <button mat-button color="primary">View More</button>
    </mat-toolbar>

    <ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
      <ngu-item NguCarouselItem *ngFor="let item of news?.data.getNewsFeed.items | slice:0:20">
        <mat-card class="slider-card news-card" style="text-align: left">
          <img mat-card-image [src]="item.image || '../assets/7GEb8Qx.jpg'">
          <mat-card-content>
            <small>{{ item.title }}</small> | <small>{{ item.pubDate }}</small>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button>
              <a href="https://magic.wizards.com{{item.link}}" target="_blank" matTooltip="Read Article">
                <mat-icon color="primary">open_in_new</mat-icon>
              </a>
            </button>
          </mat-card-actions>
        </mat-card>
      </ngu-item>
      <button mat-icon-button NguCarouselPrev class='leftRs'>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button NguCarouselNext class='rightRs'>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </ngu-carousel>

  </ng-container>  

  <!-- <div 
    class="card-container" 
    *ngIf="(sets$ | async) as sets else loading" 
    fxLayout="row wrap" 
    fxLayoutGap="10px">
      <mtg-dash-card-sets *ngFor="let set of sets?.data.setData | serchPipe: query" [set]="set" fxFlex="32.5%"></mtg-dash-card-sets>
  </div> -->
  
  <ng-template #loading>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner diameter="45" strokeWidth="3"></mat-spinner>
    </div>
  </ng-template>
</div>
